* {
    padding: 0%;
    margin: 0%;
}

div {
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 300px;
    background-color: aqua;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-delay: 1s; */
    transition: all 2s ease-in-out 1s;
}

div:hover {
    background-color: black;
    color: gold;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

ol {
    list-style-type: none;
}
div:active {
    background-color: darkmagenta;
    color: wheat;
}