/* CSS for Practice Set 7 - Problem 01 */
body {
    padding: 0%;
    margin: 0%;
}

div {
    height: 50px;
    width: 50px;
    background-color: aqua;
}

@media (min-width:300px) and (max-width:400px) {
    div {
        background-color: pink;
    }
}

@media (min-width:400px) and (max-width:600px) {
    div {
        background-color: red;
    }
}

@media (min-width:600px){
    div {
        background-color: blue;
    }
}

@media (max-width:300px) {
    div {
        background-color: green;
    }
}