* {
    padding: 0%;
    margin: 0%;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 100px;
    width: 100px;
    background-color: #016B61;
}

div:hover {
    background-color: #FFFD8F;
    transition: all;
    transition-duration: 10s;
    transform: rotate(360deg);
    /* rotate: x 180deg; */
    /* rotate: y 180deg; */
}