* {
    padding: 0%;
    margin: 0%;
    color: white;
}

#nav-bar {
    height:60px;
    background-color: #0f1111;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

a {
    margin-right: 200px;
    text-decoration: none;
}

#searchbar{
    margin-left: 200px;
}

button {
    background-color: #f08804;
}