body {
    padding: 0%;
    margin: 0%;
}


#navbar {
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
}

#navlinks {
    list-style-type: none;
    width: inherit;
    padding: 0%;
    margin: 0%;
    /* padding: 10px 10px 10px 10px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navitems {
    display: inline;
}