div {
    height: 300px;
    width: 400px;
    display: inline-block;
    background-color: orange;
    color: white;
    border: 2px orange solid;
}

#box1 {
    background-image: url('https://images.unsplash.com/photo-1643725173053-ed68676f1878?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170');
    background-size: cover;
}

#box2 {
    background-image: url('https://images.unsplash.com/photo-1640271443625-3276ed8f62b5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170');
    background-size: cover;
}