body{
    text-align: center;
}

div {
    height:100px;
    width: 100px;
    display: inline-block;
    border: 2px black solid;
}

#container {
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;   
    justify-content: center; 
}

#box1 {
    background-color: rgba(255, 00, 00, 0.5);
    /* align-self: center; */
    flex-grow: 2;
}

#box2 {
    background-color:rgba(00, 255, 00, 0.5) ;
    /* align-self:flex-end; */
}

#box3 {
    background-color: rgba(00, 00, 255, 0.5) ;
    /* flex-shrink: 2; */
}

#box4 {
    background-color:rgba(255, 255, 00, 1) ;
    flex-grow: 1;
}

#box5 {
    background-color: rgba(00, 255, 255, 1);
    flex-grow: 3;
}
 