* {
    padding: 0%;
    margin: 0%;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aqua;
    animation: colorAnimation 1s ease-in-out 1s infinite alternate;
    /* animation-name: colorAnimation;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */
    
}
@keyframes colorAnimation {
    0% {
        background-color: green;
        transform: translate(100px,100px);
    }
    50% {
        background-color: orange;
        transform: translate(0px,0px);
    }
    100% {
        background-color: red;
        transform: translate(-100px,-100px);
    }
}

/* @keyframes colorAnimation {
    from {
        background-color: aqua;
        transform: translate(100px,100px);
    }
    to {
        background-color: red;
        transform: translate(-100px,-100px);
    }
} */