body{
    text-align: center;
}

div {
    height:100px;
    width: 200px;
    display: inline-block;
    border: 2px black solid;
}

#container {
    width:600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content:center; 
    flex-wrap: wrap;
    /* align-items: center; */
    align-content: flex-end;
}

#box1 {
    background-color: rgba(255, 00, 00, 0.5);
}
 
#box2 {
    background-color:rgba(00, 255, 00, 0.5) ;
}
 
#box3 {
    background-color: rgba(00, 00, 255, 0.5) ;
}
 
#box4 {
    background-color:rgba(255, 255, 00, 1) ;
}
 
#box5 {
    background-color: rgba(00, 255, 255, 1);
}
 